.card .nav.flex-column>li {
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin: 0;
}
.nav-pills .nav-link {
    color: #6c757d;
}
.bg-primary, .bg-primary>a {
    color: #fff!important;
    background-color: #007bff;
}
.bg-warning {
    background-color: #ffc107!important;
    color: #1f2d3d!important;
}
.card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}
.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.card-header>.card-tools {
    float: right;
    margin-right: -.625rem;
}
.mailbox-controls {
    padding: 5px;
}
.btn-default {
    background-color: #f8f9fa;
    border-color: #ddd;
    color: #444;
}
.mailbox-name a{
	font-weight: 500;
}
.mailbox-read-info {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 10px;
}
.mailbox-read-info h5 {
    margin: 0;
    padding: 5px 0 0;
}
.mailbox-controls.with-border {
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.mailbox-read-message {
    padding: 10px;
}
.card-img-top{
	width: 100%;
	height: 150px;
}
.mailbox-attachment-info {
    background: #f8f9fa;
    padding: 10px;
}
.mailbox-attachment-name {
    color: #666;
    font-weight: 700;
}.mailbox-attachment-size {
    color: #999;
    font-size: 12px;
}
.btn-tool {
    background: 0 0;
    color: #adb5bd;
    font-size: .875rem;
    margin: -.75rem 0;
    padding: .25rem .5rem;
}


/*************/
.add-img{
  height: 250px;
}
.add{
  width: 100%;
  height: 250px;
  border: 1px dashed #e60044;
  cursor: pointer;
  color: #e60044;
  text-align: center;
}
.add-images{
  padding-top: 35%;

}
.add-images label{
  display: block;
}
.plus{
  font-size: 30px;
}
.ul-btn{
    width: 100%;
    height: 38px;
    border: 1px dashed #e60044;
    background: transparent;
    color: #e60044;
    font-size: 13px;
    cursor: pointer;
}
.a-btn{
  color: #fff;
  font-size: 12px;
  border: 1px solid;
  padding: 6px 22px;
   border: 1px dashed #fff;
}
.a-btn:hover{
  color: #e60044;
  border: 1px dashed #e60044;
}
.fw-title{
  margin-bottom: 36px!important;
}
.category-menu li{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.category-menu li a{
  width: 80%;
}
.li-span{
  padding-top: 4%;
  font-size: 13px;
  cursor: pointer;
}
.icon-slaider{
	color: black;
    font-weight: 900;
    font-size: 25px;
}
.menu{
	display: block!important;
}

/**file nput**/
/*#image-preview-extra1,#image-preview-extra2,#image-preview-extra3{
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: #ecf0f1;
      border: 1px dashed #e60044;
}
#image-preview-extra1 input ,#image-preview-extra2 input ,#image-preview-extra3 input {
  line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
#image-preview-extra1 label,#image-preview-extra2 label ,#image-preview-extra3 label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #bdc3c7;
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}*/
.carusel-wh {
    width: 100%;
    height: 450px;
}

.font-aiv2{
  font-family: "AIV2";
}
.font-anastasiaScriptC{
  font-family: "AnastasiaScriptC";
}

.font-SharonAP{
  font-family: "SharonAP";
}
.box{
  width: 100%;
  height: 100%;
  border: 1px dashed #e60044;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input[type="file"]{
  font-size: 14px;
}
input[type="file"]::-webkit-file-upload-button {
  color: white;
  display: inline-block;
  background: #1CB6E0;
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
}